* {
    margin:0;
    padding:0;
}
.w {
    height: 100%;
    width: 1190px;
    margin: auto;
    /*background-color: pink;*/
}
li {
    list-style: none;
}
i {
    font-style: normal;
}
a{
    text-decoration: none;;
}
.style-red {
    color: #f10215!important;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?axvffw');
  src:  url('../fonts/icomoon.eot?axvffw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?axvffw') format('truetype'),
    url('../fonts/icomoon.woff?axvffw') format('woff'),
    url('../fonts/icomoon.svg?axvffw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.top {
    height: 30px;
    background-color: #e3e4e5;
}
.fl {
    float: left;
    margin-left: 15px;
    /*background-color: purple;*/
}
.fr {
    float: right;
    /*background-color: yellow;*/
}
.fr li {
    height: 30px;
    float: left;
    line-height: 30px;
}
.fr a {
    line-height:30px;
    font-size: 12px;
    color: #999999;
}
.fl li {
    padding-left: 210px;
}
.fl a {
    line-height:30px;
    font-size: 12px;
    color: #999999;
    position: relative;
}
.fl i {
    font-size:14px;
    font-family: 'icomoon';
    position: absolute;
    top:-8px;
    left:-18px;
    color: #f10215;
}
.spacer {
    font-size: 10px;
    color: #999999;
    margin:0px 10px 0;
}

.header {
    height: 150px;
    /*background-color: #f0f3ef;*/
    background-color: pink;
}
.inner {
    position: relative;
}
.logo {
    width: 190px;
    height: 170px;
    background-color: pink;
    position: absolute;
    top: -30px;
    left:0 ;
}
.logo a {
    display: block;
    width: 100%;
    height: 170px;
    background: url("../images/logo.jpg") no-repeat;
    box-shadow: 0px -8px 15px rgba(0, 0, 0, .3);
}

.search {
    width: 550px;
    height: 35px;
    background-color: purple;
    position: absolute;
    top: 30px;
    left: 320px;
}
.search input {
    width: 498px;
    height: 33px;
    border: 1px solid #f10215;
    float: left;
}
.search button {
    width: 50px;
    height: 35px;
    background-color: #f10215;
    cursor: pointer;
    float: left;
    outline: none;
    border: 0;
}
.fangdajing {
    font-size: 18px;
    font-family: 'icomoon';
}
